* { font-family: serif; }

.container {
    margin: 0 3rem;
}

h1, h2, .logo-box .year {
    font-family: "Palanquin Dark", sans-serif;
    text-transform: uppercase;
}

.logo-box .logo {
    font-size: 8rem;
    padding: 0 1rem;
}

.logo-box .year {
    font-size: 2rem;
}

header h1 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 1rem;
}

header {
    padding-top: 3rem;
}

section {
    padding: 3rem 0;
}

h2 {
    font-weight: 500;
}

.links>ul {
    padding: 0;
}

.links>ul>li {
    padding-left: 0;
    max-width: 20rem;
}

footer {
    padding: 1rem;
    font-size: 0.75rem;
}